.root {
    -fx-background-color: #17212B;
}

.back-button {
    -fx-background-color: transparent;
    -fx-padding: 0; /* Remove extra padding */
}

.back-button:hover {
    -fx-cursor: hand;
}

.back-button .svg-path {
    -fx-fill: #5b6772;
}

.back-button:hover .svg-path {
    -fx-fill: #a3b0bd;
}

.settings-button {
    -fx-background-color: #17212B;
    -fx-text-fill: #6AB2F2;
    -fx-font-size: 14px;
    -fx-weight: bold;
    -fx-padding: 5px 15px;
    -fx-background-radius: 5px;
}

.settings-button:hover {
    -fx-background-color: #1D2A39;
    -fx-cursor: hand;
}

.title {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.info-label {
    -fx-text-fill: #72879B;
    -fx-font-size: 14px;
    -fx-text-alignment: center;
}

.password-label {
    -fx-text-fill: #6BB0F5;
    -fx-font-size: 14.0px;
    -fx-text-alignment: center;
}
.password-label:error {
    -fx-text-fill: #ee1111;
    -fx-font-size: 14.0px;
    -fx-text-alignment: center;
}

.password-field {
    -fx-background-color: #17212B;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-border-color: transparent transparent #313C49 transparent; /* Up, Right, Down, Left */
    -fx-border-width: 0 0 1px 0; /* Bottom side only (1px) */
}

.password-field:focused {
    -fx-border-color: transparent transparent #2F6EA5 transparent; /* Up, Right, Down, Left */
}

.forgot-link {
    -fx-font-size: 12px;
    -fx-text-fill: #6BB0F5;
    -fx-cursor: hand;
    -fx-underline: false;
}

.forgot-link:hover {
    -fx-underline: true;
}

.submit-button {
    -fx-background-color: #2F6EA5;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-background-radius: 5px;
    -fx-padding: 8px 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.5, 0, 0);
}

.submit-button:hover {
    -fx-background-color: #3476AB;
}
.password-field:error{
    -fx-border-color: transparent transparent #ee1111 transparent;
    -fx-border-width: 0 0 1px 0;
}