.root {
    -fx-background-color: #17212B;
}

.back-button {
    -fx-background-color: transparent;
    -fx-padding: 0; /* Remove extra padding */
}

.back-button:hover {
    -fx-cursor: hand;
}

.back-button .svg-path {
    -fx-fill: #5b6772;
}

.back-button:hover .svg-path {
    -fx-fill: #a3b0bd;
}

.settings-button {
    -fx-background-color: #17212B;
    -fx-text-fill: #6AB2F2;
    -fx-font-size: 14px;
    -fx-weight: bold;
    -fx-padding: 5px 15px;
    -fx-background-radius: 5px;
}

.settings-button:hover {
    -fx-background-color: #1D2A39;
    -fx-cursor: hand;
}

.email-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.info-label {
    -fx-text-fill: #72879B;
    -fx-font-size: 14px;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-max-width: 300px;
}

.code-fields {
    -fx-alignment: center;
}

.code-field {
    -fx-background-color: #2F3A4A;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-alignment: center;
    -fx-background-radius: 10px;
}

.code-field:focused {
    -fx-border-color: #5288C1;
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.next-button {
    -fx-background-color: #2F6EA5;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 8px 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.5, 0, 0);
}

.next-button:hover {
    -fx-background-color: #3476AB;
}